.form-input{
    font-size:18px;
    width:70%;
    height: 40px;
    border-radius: 5px;
    background-color: azure;
    margin-bottom: 30px;
}
.form-button{
    width: fit-content;
    height: fit-content;
    border-width: 1px;
    border-radius: 15px;
    font-size: 20px;
    background-color: gray;
}
.login{
    width:50vw;
    height: 50vh;
    background-color: wheat;
}
.registerform{
    background-color: wheat;
    border-radius: 5px;
}
p{
    font-size: 20px;
}