<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    {% extends "regbase.html" %}
    {% load static %}
    {% block page_content %}
     <br><br>
    <center>
        <h1>Welcome to GroupMEve Sample Library</h1>
        <h2>LogIn Below</h3>
        <br><br>
        <p> {% if messages %}
             {% for message in messages %}
              {{message}}
             {% endfor %}
            {% endif %}
       </p>
        <div class="login">
            <br><br>
            <form method= POST>
                {% csrf_token %}
                <input type="text" name="username" class="form-input" placeholder="Input your Username here">
                <br>
                <input type="password" name="password" class="form-input" placeholder="Input your Password here">
                <br>
                <input type="submit" value="Login" class="form-button">

                <p>Don't have an account?<a href="{% url 'accounts:signup' %}">Register</a> </p>
                <p>For Library<a href="{% url 'admin:index' %}" > Admin</a></p>
            </form>
        </div>
        


    </center>
    {% endblock %}
</body>
</html>