<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to GroupMSample Library

    your are a.....
    <a href="{% url 'admin:index' %}">Librarian</a>
    <a href="{% url 'accounts:login' %}">Student</a>
</body>
</html>