<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document
        {% block title %}
        {% endblock%}
    </title>
</head>
<body>
    <nav class="navbar">
        <a class="maina" font-size="60px" href="{% url 'library:book_overview' %}">Bookshelf</a>
        <a class="maina"  font-size="60px" href="{% url 'library:activity' %}">Activity</a>
        {% if user.is_authenticated %}
        <a class="maina" font-size="60px" href="{% url 'accounts:login' %}">LogOut</a>
        {% else %}
        <a class="maina" font-size="60px" href="{% url 'accounts:login' %}">Login</a>
        {% endif%}
        <a class="maina" font-size="60px" href=""></a>
        <p>Welcome,{{user.username}}</p>
    </nav>
    <div>
        {% block page_content %}
        {% endblock %}
    </div>
</body>
</html>
