<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock%}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% load static %}
        <link  rel="stylesheet" href="{% static 'regbase.css' %}">
    </head>
  
    <body bgcolor="#F9FBE7">

  
        <div>
            {% block page_content %}

            {% endblock%}
        </div>

    </body>